<div class="splitcontent">
<div class="splitcontentleft">
<% i = 0 %>
<% last_split = 0 %>
<% next_multi_column = next_multi_column_index(:issue, i, @issue.editable_custom_field_values) %>
<% @issue.editable_custom_field_values.each do |value| %>
  <% split_on = ((next_multi_column - last_split) / 2.0).ceil - 1 %>
  <p><%= custom_field_tag_with_label :issue, value, :required => @issue.required_attribute?(value.custom_field_id) %></p>
  <% if i == split_on -%>
    <% last_split = i %>
    <% next_multi_column = next_multi_column_index(:issue, i, @issue.editable_custom_field_values) %>
    </div><div class="splitcontentright">
  <% end -%>
  <% i += 1 -%>
<% end -%>
</div>
</div>
